body {
    background-image: url(../images/khsymbol.png);
    background-size: cover;
    background-position: auto;
    margin: 0px;
    font-family: 'Noto Serif KR' , serif;
    background-color: black;
    color: solid black;
}

header {
    background-color: rgba(169, 169, 169, 0.75);
    color: black;
    padding: 25px;
}

header h1 {
    text-align: center;
    
}
header img {
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

main {
    background-color: rgba(169, 169, 169, 0.75);
    padding: 0px 20px 40px 20px;
}

.main.left1.col-sm {
    padding-right: 0px;
    padding-left: 0px;
}

main img {
    border: 1px darkgray;
    border-style: solid;
}

footer {
    font-size: 12px;
    background-color: rgba(211, 211, 211, 0.911);
    color: black;
    padding: 1px;
}

@media only screen and (max-width: 1840px) {
    html {
        height: 100%;
    }
}